/*
* Chelsea Sun
* Sep 30, 2015
* custom css file for FridgeHotWaterDemo
* first attempt of swiper picker
*/

/* Progress Bar----------------------------------*/
/*.progress {
    height: 266px;
}
.progress > svg {
	height: 100%;
	display: block;
}*/


/* S1 Temp Picker----------------------------------------*/
#temp1-mask {
    width: 150px; /* swiper width */
    height: 255px;
    overflow: hidden;
    background-color: none;
}

#temp1-swiper-container {
    height: 85px; /* determines wrapper's height */
}

/* S1 Hour Picker----------------------------------------*/
#hour1-mask {
    width: 80px; /* swiper width */
    height: 255px;
    overflow: hidden;
    background-color: none;
}

#hour1-swiper-container {
    height: 85px; /* determines wrapper's height */
}

/* S1 Minute Picker----------------------------------------*/
#min1-mask {
    width: 80px; /* swiper width */
    height: 255px;
    overflow: hidden;
    background-color: none;
}

#min1-swiper-container {
    height: 85px; /* determines wrapper's height */
}

/* S1 AM Picker----------------------------------------*/
#am1-mask {
    width: 80px; /* swiper width */
    height: 255px;
    overflow: hidden;
    background-color: none;
}

#am1-swiper-container {
    height: 85px; /* determines wrapper's height */
}

/* S2 Temp Picker----------------------------------------*/
#temp2-mask {
    width: 150px; /* swiper width */
    height: 255px;
    overflow: hidden;
    background-color: none;
}

#temp2-swiper-container {
    height: 85px; /* determines wrapper's height */
}

/* S2 Hour Picker----------------------------------------*/
#hour2-mask {
    width: 80px; /* swiper width */
    height: 255px;
    overflow: hidden;
    background-color: none;
}

#hour2-swiper-container {
    height: 85px; /* determines wrapper's height */
}

/* S2 Minute Picker----------------------------------------*/
#min2-mask {
    width: 80px; /* swiper width */
    height: 255px;
    overflow: hidden;
    background-color: none;
}

#min2-swiper-container {
    height: 85px; /* determines wrapper's height */
}

/* S2 AM Picker----------------------------------------*/
#am2-mask {
    width: 80px; /* swiper width */
    height: 255px;
    overflow: hidden;
    background-color: none;
}

#am2-swiper-container {
    height: 85px; /* determines wrapper's height */
}

/* Main Picker----------------------------------------*/
#main-mask {
    width: 150px; /* swiper width */
    height: 255px;
    overflow: hidden;
    background-color: none;
}

#main-swiper-container {
    height: 85px; /* determines wrapper's height */
}

/* Picker Common Style-----------------------------------*/
.swiper-wrapper {
    font-family: 'Arial', sans-serif;
    font-size: 38px; /* can not exceed the swiper-slide's height */
    background-color: none;
    margin-top: 120px;
}

.swiper-wrapper .swiper-slide { /* total height = drawer height */
    /*background-color: white;*/
    position: relative;
    margin-top: 35px; /* margin towards mask */
    height: 50px !important; /* determines the font size */
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-wrapper div:nth-child(1) {
    font-size: 45px;
    opacity: 0.8;
}
.swiper-wrapper div:nth-child(2) {
    font-size: 38px;
    opacity: 0.4;
}
.swiper-wrapper div:nth-child(3) {
    font-size: 38px;
    opacity: 0.4;
}
/* Picker Common Style Ends----------------------------------------*/

#dialog {
    font-size: 32px;
    text-align: center;
    padding-top: 50px;
